.footer p {
    color: $footer;
    text-align: center;
    font-family: $font;
    font-weight: 300;
    font-style: normal;
    span {
        text-transform: uppercase;
    }

    @include tablet {
        max-width: 1000px;
        align-self: baseline;
        margin-top: 10rem;
    
        @include desktop {
            max-width: 4000px;
            padding-right: 40rem;
        }
    }
}