.footer {
    margin-bottom: 3rem;
    text-align: center;
    padding: 0 2rem;
        background-color: $bg-black;
        position: absolute;
        bottom: 0;
    p{
        background-color: $bg-black;
        color: $footer;
        font-size: .9rem;
        font-family: $font;
        text-align: center;
    span {
          text-transform: uppercase;
    }
    }
}
