  header {
  background-color: $bg-black;
  font: $font;
  color: $font-white;
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
        //      @include desktop {
        //         flex-direction: row;
        //     }
        // }

        // @include tablet {
        //     align-items: center;
        //     width: 100%;
        //     height: 300px;
        // }

        // @include desktop {
        //     justify-content: flex-start;
        //     height: 600px;
        //     align-items: center;
        //     }
}

