/*The header takes up most of the page in the mobile version 
then shrinks to only be header size. So need to set height 
% rem or px? 90%? 90 vh? */


  header {
  background-color: $bg-black;
  font: $font;
  color: $font-white;
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
