$bg-black: #000;
$font-white: #FFF;
$footer: #c2c2c2;
$font: 'Open Sans', sans-serif;
$tablet-width: 600px;
$desktop-width: 1000px;
$bg-color:black;
// The base font size is 16px and it HEX code is #ffffff
// The body font family is Open Sans Light