$background-color-black: #000;
$font-color-white: #FFF;
$footer-text-grey: #c2c2c2;
$font-size: 16px;

// The base font size is 16px and it HEX code is #ffffff
// The body font family is Open Sans Light
